@import 'color';
@import 'remote';
@import 'hints';
@import 'templates/template';

html {
    -webkit-text-size-adjust: 100%;
}

body {
  font: 1em helvetica, arial, sans-serif;
  margin: 0;
}

.bordered {
  border: 1px solid
}

h1 {
  font-size: 1.6rem;
}

#header {
  border-bottom-width: 1.5em;
  border-bottom-style: solid;
  margin: 0 15px;
  padding-top: 0.75em;
}

.logo {
  background: url('/img/fondsfinanz-logo.png') 95% center no-repeat;
  padding-top: 1em;
  padding-bottom: 1em;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

#footer {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
}
