@import 'color';

#remote {

  .fullscreen {
    bottom: 3em;
    position: fixed;
    top: 0;
    z-index: 1000;
  }

  .next {
    @extend .fullscreen;
    border-left: 1px solid #0d3;
    right: 0;
  }

  .previous {
    @extend .fullscreen;
    left: 0;
  }
}
