@import 'color';

#remote {

  .fullscreen {
    bottom: 0;
    position: fixed;
    top: 0;
  }

  .next {
    @extend .fullscreen;
    background-color: $trans-green;
    right: 0;
  }

  .previous {
    @extend .fullscreen;
    background-color: $trans-red;
    left: 0;
  }
}
