@import 'color';

#wifi {
  font-size: 1.5em;

  a.button {
    background-color: $blue;
    border: 0.1em solid #ccc;
    border-radius: 0.5em;
    color: #fff;
    display: inline-block;
    margin: 1em 0;
    padding: 0.5em;
    text-decoration: none;
  }

  p {
    margin: 0;
    padding: 0.25em;
  }

  .center {
    text-align: center;
  }
}