
doctype html
html
  head
    include includes/head.jade
  body.intro
    div.container
      header#header.border-color-blue(role='header')
        include includes/header.jade
      main#content.row.bordered(role='main')
        block content
      footer#footer(role='contentinfo')
        include includes/footer.jade
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js')
