<!DOCTYPE html>
<html ng-app="presentation">
<head lang="de">
  <title>Remote</title>
  <link href="/vendor/normalize/3.0.3/normalize.css" rel="stylesheet" media="screen">
  <link href="/vendor/foundation/5.5.2/foundation.min.css" rel="stylesheet" media="screen">
  <link href="/css/style.css" rel="stylesheet" media="screen">
  <script src="/socket.io/socket.io.js"></script>
</head>

<body id="remote" ng-controller="RemoteController as remoteCtrl">
  <div class="row" ng-show="remoteCtrl.isMode('navigate')">
    <div class="columns small-3 previous" ng-click="remoteCtrl.previous()"></div>
    <div class="columns small-9 next" ng-click="remote.next()"></div>
  </div>

  <div class="row" ng-show="remoteCtrl.isMode('login')">
    <button class="center login" ng-click="remoteCtrl.login()">Login</button>
  </div>
  
  <script src="/vendor/angular/1.4.2/angular.min.js"></script>
  <script src="/js/app.min.js"></script>
</body>
</html>
