<header role="header" id="header" class="border-color-blue">
	<div class="row">
		<div class="columns small-12 logo">
			<h1>{{presentationCtrl.page.title}}</h1>
		</div>
	</div>
</header>

<main role="main" id="content">
	<div class="row bordered">
		{{presentationCtrl.page.content}}
	</div>
</main>

<footer role="contentinfo" id="footer">
	<div class="row">
		<p class="columns small-12 medium-5 large-4 title">{{presentationCtrl.title}}</p>
		<p class="columns small-12 medium-2 large-4 slide">Slide {{presentationCtrl.page.number}}</p>
		<div class="columns small-12 medium-5 large-4 time">
			<p>TIME</p>
		</div>
	</div>
</footer>